
/* width */
.weather::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.weather::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.weather::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.weather::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.weather {
  padding: 1rem;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  overflow-y: auto;

  header {
    display: flex;
    align-items: center;

    h1 {
      font-weight: 800;
    }

    label {
      margin: 0 3rem;
      font-size: 25px;
      font-weight: 600;
    }

    select {
      border: none;
      outline: none;
      padding: 0.5rem;
      background-color: #264c73;
      color: white;
      font-size: 20px;
      cursor: pointer;
    }
  }

  hr {
    border: solid 1px white;
    margin: 1rem 0;
  }

  .sub-header {
    label {
      font-weight: 600;
    }

    input {
      margin: 0 2rem;
      padding: 0.5rem;
      outline: none;
    }
    button {
      border: solid 1px white;
      outline: none;
      cursor: pointer;
      padding: 0.5rem;
      background-color: #264c73;
      color: white;
    }

    button:hover {
      background-color: #426b8d;
    }
  }

  .week-box {
    padding: 1rem;
    //grid-template-columns: repeat(3, 1fr);
    //justify-content: space-between;
    --auto-grid-min-size: 16rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
    grid-gap: 1rem;
    .day-box {
      background-color: white;
      border-radius: 20px;
      color: #333333;
      padding: 1rem;
      margin: 1rem 0;
      display: flex;
      justify-content: space-between;

      .date-celsius {
        margin-right: 1rem;
        display: flex;
        flex-direction: column;
        //justify-content: space-between;
        .date {

        }
        .celsius {
          font-size: 40px;
        }
      }
      .icon-text{
        h2 {

        }
      }
    }
  }
}