.App {
    height: 100vh;
    padding: 2rem;
    background-image: url("images/25501.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: screen;
}